<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDvaEg0VtWd4JtJmRnX6Qi_uZeg-4dZIWI</string>
	<key>GCM_SENDER_ID</key>
	<string>598517892607</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.Wu.Anna.pantree</string>
	<key>PROJECT_ID</key>
	<string>pantree-be999</string>
	<key>STORAGE_BUCKET</key>
	<string>pantree-be999.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:598517892607:ios:7dea847266ffb21dfe13ca</string>
</dict>
</plist>